{% extends "partidillos/base.html" %}


{% block head %}

 <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
 <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.flipbox.min.js"></script>

 <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" />

 <script src="{{ STATIC_URL}}app/my.js"> </script>
  
{% endblock %}


{% block pageheader %}
    <a href="/partidillos/joined.html" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse">Voy a jugar</a>

    <h3>Crear partidillo</h3>

    <a href="/partidillos/pending.html" data-icon="arrow-r" 
      data-iconpos="notext">Partidos disponibles</a> 
{% endblock %}


{% block body %}

<div data-role="content" style="padding: 15px" id="content">

 <form action="#" method="post">

 {% csrf_token %}

 <div data-role="fieldcontain">
         {{ form.place.errors }}
         <label for="place">Lugar:</label>
         <input type="text" name="place" id="place" 
         value="{% if form.place.value %} {{ form.place.value }} {% endif %}"  />
 </div>
 <div data-role="fieldcontain">
         {{ form.date.errors }}
         <label for="dia">Dia</label>
	 <input name="dia" id="dia" type="date" data-role="datebox"
     data-options='{"mode": "flipbox", "overrideTimeFormat": 24}' 
     value="{% if form.date.value %} {{ form.date.value|date:"Y-m-d" }} {% endif %}"/>
 </div>
 <div data-role="fieldcontain">
         <label for="hora">Hora</label>
         <input name="hora" id="hora" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "overrideTimeFormat": 24}'
         value="{% if form.date.value %} {{ form.date.value|date:"H:M" }} {% endif %}"/>
 </div>

  <div class="ui-body ui-body-b">
	<fieldset class="ui-grid-a">
		<div class="ui-block-a"><button type="submit" data-theme="d">Cancel</button></div>
		<div class="ui-block-b"><button type="submit" data-theme="a">Submit</button></div>
	</fieldset>
  </div>

 </form>			

			
</div>

{% endblock %}

{% block javascript %}
  
{% endblock %}

