{% extends "partidillos/base.html" %}

{% block navbartitle %}Crear Partidillo{% endblock %}

{% block body %}

<div data-role="content" style="padding: 15px" id="content">

 <form action="#" method="post"  data-ajax="false">

 {% csrf_token %}

 <div data-role="fieldcontain">
         {{ form.place.errors }}
         <label for="place">Lugar:</label>
         <input type="text" name="place" id="place" 
         value="{% if form.place.value %}{{form.place.value}}{% endif %}"  />
 </div>
 <div data-role="fieldcontain">
         {{ form.date.errors }}
         <label for="dia">Dia</label>
	 <input name="dia" id="dia" type="date" data-role="datebox"
     data-options='{"mode": "calbox", "overrideTimeFormat": 24, "useInline":true}' 
     value="{% if form.date.value %}{{ form.date.value|date:"Y-m-d" }}{% endif %}"/>
 </div>
 <div data-role="fieldcontain">
         <label for="hora">Hora</label>
         <input name="hora" id="hora" type="date" data-role="datebox"
         data-options='{"mode": "timebox", "overrideTimeFormat": 24, "useInline":true}'
         value="{% if form.date.value %}{{ form.date.value|date:"H:i" }}{% endif %}"/>
 </div>

  <div class="ui-body ui-body-b">
	<fieldset class="ui-grid-a">
        {% if pk %}
        <div class="ui-block-a"><a href="/match/{{ pk }}/delete/" data-role="button" data-theme="c">Borrar</a></div>
        {% endif %}
		<div class="ui-block-b"><button type="submit" data-theme="a">Enviar</button></div>
	</fieldset>
  </div>

 </form>			

			
</div>

{% endblock %}

