{% extends "partidillos/base.html" %}

{% block head %}

 <script src="{{ STATIC_URL}}app/my.js"> </script>
  
{% endblock %}


{% block pageheader %}
    <a href="/{{oppositepage}}.html" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse">{{ oppositetitle }}</a>

    <h3>Datos del Partido</h3>

    <a href="/create-match.html" data-icon="plus" 
      data-iconpos="notext" rel="external">Crear partido</a> 
{% endblock %}

{% block body %}

<div data-role="content" style="padding: 15px" id="content">

    {% load tz %}

    {% timezone "Europe/Madrid" %}
    <p> <strong>Lugar:</strong> {{ match.place }} </p>
    <p> <strong>Fecha:</strong> {{ match.date }} </p>

    {% endtimezone %}

    <ul data-role="listview" data-divider-theme="b" data-inset="true" >
        <li data-role="list-divider" role="heading"> Jugadores </li>

  
        {% for player in match.players.all %}
        <li data-theme="c">
            {{ player.user.username }}
        </li>
        {% endfor %}
 
    </ul>
    {% if user.get_profile not in match.players.all %}

    <a href="/api/matches/{{ match.id }}/join/" data-role="button"
        rel="external">Unirse</a>
    {% else %}

    <a href="/api/matches/{{ match.id }}/leave/" data-role="button"
        rel="external">Abandonar</a>
    
    {% endif %}
 
</div>

   
    <!-- for match in matches_pending
        v [Polideportivo Lavaderos - 12: 30] - Icon (or on click I join the
        match and the match passes to voy a jugar (js). 

        - Add player to list of players of the match
        - Alarms to the organizer when :
        1. All players have joined. (python) -->

{% endblock %}

{% block javascript %}
  
{% endblock %}

