{% extends "partidillos/base.html" %}

{% block head %}

 <script src="{{ STATIC_URL}}app/my.js"> </script>
  
{% endblock %}


{% block pageheader %}
    <a href="/{{oppositepage}}.html" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse">{{ oppositetitle }}</a>

    <h3>{{ title }}</h3>

    <a href="/create-match.html" data-icon="plus" 
      data-iconpos="notext" rel="external">Crear partido</a> 
{% endblock %}

{% block body %}

<div data-role="content" style="padding: 15px" id="content">

    {% load tz %}

    {% timezone "Europe/Madrid" %}

    <ul data-role="listview" data-divider-theme="b" data-inset="true" >
        <li data-role="list-divider" role="heading"> {{title}} </li>

        {% for match in matches_list %}
  
        <li data-theme="c">
        <a href="/match/{{ match.id }}/" rel="external">
            <img  width="18px" src="/static/img/user_{{ action }}_match.png" 
            class="ui-li-icon"> 
            </img>
            {{ match.place }} - {{ match.date }} 
            <span class="ui-li-count">{{match.players.all|length}}</span>
        </a>
        </li>
 
        {% endfor %}

      
    {% endtimezone %}
    </ul>
 
</div>

   
    <!-- for match in matches_pending
        v [Polideportivo Lavaderos - 12: 30] - Icon (or on click I join the
        match and the match passes to voy a jugar (js). 

        - Add player to list of players of the match
        - Alarms to the organizer when :
        1. All players have joined. (python) -->

{% endblock %}

{% block javascript %}
  
{% endblock %}

