{% extends "partidillos/base.html" %}

{% block head %}

 <script src="{{ STATIC_URL}}app/my.js"> </script>
  
{% endblock %}


{% block navbartitle %} {{ title }} {% endblock %}

{% block navbarlinks %}

    {% for link in links %}
        <li><a href="/{{link.page}}.html" data-icon="{{link.icon}}"
            data-iconpos="notext">{{ link.title }}</a></li>
    {% endfor %}

{% endblock %}

{% block body %}

<div data-role="content" style="padding: 15px" id="content">


    <ul data-role="listview" data-divider-theme="b" data-inset="true" >
        <li data-role="list-divider" role="heading"> {{title}} </li>

        {% for match in matches_list %}
  
        <li data-theme="c">
        <a href="/match/{{ match.id }}/{{onclick}}">
            {% if action %}
            <img  width="18px" src="/static/img/user_{{ action }}_match.png" 
            class="ui-li-icon"> 
            </img>
            {% endif %}
            {{ match.place }} - {{ match.date }} 
            <span class="ui-li-count">{{match.players.all|length}}</span>
        </a>
        </li>
 
        {% endfor %}

      
    </ul>
 
</div>

   
{% endblock %}


